rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
      match /deposits/{depositId} {
        allow read, write: if true;
      }
    }
    match /deposits/{depositId} {
      allow read, write: if true;
    }
    match /withdrawals/{docId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if request.auth != null;
    }
    match /depositNotifications/{docId} {
      allow read, write: if true;
    }
    match /pendingPayments/{docId} {
      allow read, write: if true;
    }
    match /supportMessages/{docId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if request.auth != null;
    }
    match /supportThreads/{docId} {
      allow read, write: if true;
    }
    match /adminReplyStates/{docId} {
      allow read, write: if true;
    }
    match /settings/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
